/* ==UserStyle==
@name           Quercus Dark Mode BETA
@namespace    https://github.com/PseudonymPatel/qercus-darkmode
@homepageURL  https://github.com/PseudonymPatel/quercus-darkmode
@updateURL    https://raw.githubusercontent.com/PseudonymPatel/quercus-darkmode/master/quercus-darkmode.user.css
@version        0.0.5
@description    UofT quercus (customizable, dynamic) darkmode
@author         Me
@preprocessor	less

@var color main-color "Main color for everything to be based on. Also try #000005" #121212
@var color border-color "Color to make borders" #676767
@var number first-layer-brightness "How bright to make first level of brightness (0 - 100%)" [8, 0, 100, 1, "%"]
@var number second-layer-brightness "brightness of second level of brightness (0 - 100%)" [12, 0, 100, 1, "%"]
@var color accent-color "Color to make blue things/accent" #1190d0
@var color main-text-color "Color to make majority of text." #bec0ca

==/UserStyle== */
@-moz-document url-prefix("https://q.utoronto.ca/") {
	:root {
		--bradius: 5px;
		--accent-hue: hue(@accent-color);
		--line-color: lighten(@main-color, @second-layer-brightness);
		--gen-button-color: darken(@accent-color, 30);
		--gen-button-color-hov: darken(@accent-color, 20);
		--gen-button-color-important: darken(@accent-color, 20);
		--gen-button-color-important-hov: darken(@accent-color, 10);
	}
	
	body {
		background: @main-color;
		color: @main-text-color;
	}

	a {
		color: darken(@accent-color, @first-layer-brightness);
	}
	
	a:hover {
		color: lighten(@accent-color, @first-layer-brightness);
		transition: 0.25s ease;
		text-decoration: none !important;
	}
	
	.btn-primary, .Button--primary, .btn, .Button, .ui-button {
		background: var(--gen-button-color-important);
		color: @main-text-color;
		border: none;
	}

	.btn-primary:hover, .Button--primary:hover, .btn:hover, .Button:hover, .ui-button:hover, .ui-button:hover.ui-state-hover {
		background: var(--gen-button-color-important-hov);
		transition: 0.1s;
		color: contrast(var(--gen-button-color-hov), @main-color, @main-text-color, 57%);
	}
	
	#courseMenuToggle {
		background: none;
	}
	
	/* OLD BUTTON STUFF
	.btn {
		background: var(--gen-button-color);
		border: none;
		color: @main-text-color;
		
	}
	
	.btn:hover {
		background: var(--gen-button-color-hov);
		color: contrast(var(--gen-button-color-hov), @main-color, @main-text-color, 57%);
	}
	*/
	
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
		background: @main-color !important;
		border: none !important;
		color: @main-text-color !important;
	}
	
	/* Naviagtion Bar */
	#header {
		
		/*
		top: unset;
		bottom: 0;
		left: 0;
		right: 0;
		height: 10vh;
		width: 100vw;
		*/
		
		background-color: lighten(@main-color, @second-layer-brightness);
		
		> div > div { /* Quercus top left logo */
			background-color: transparent;
			height: 0;
			
			a {
				background-image: none;
			}
		}
		
		div:first-of-type ul  {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			
		}
		
		.ic-app-header__menu-list-link .ic-icon-svg {
			color: 	@main-text-color;
			fill: @main-text-color;
		}
		
		.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-icon-svg {
			fill: @main-color;
		}
		
		.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link {
			background: @accent-color;
		}
		
		.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .menu-item__text {
			color: @main-color;
		}
		
	}
	
	/* TODO: improve this */
	.css-dvua1q-view--block-contextView__content {
		background: lighten(@main-color, @second-layer-brightness);
	}
	
	#immersive_reader_mount_point {
		visibility: hidden;
	}
	
	span[dir="ltr"] > span {
		/*background: lighten(@main-color, @first-layer-brightness);*/
		/* The above is to fix the notif. popdown menu, but this also causes many other issues with backgrounds being grey where they shouldn't. */
		
		> span, ul[role="menu"], ul[role="menu"] span {
			border-width: 0px !important;
			color: @main-text-color; 
			padding-left: 10px;
		}
		
		[id^=Badge] {
			background: @accent-color;
			padding-left: 0px;
			
			span {
				background: none;
				color: black;
				padding-left: 3px; /*temp fix*/
			}
		}
			
		div {
			background: transparent;
			color: @main-text-color; 
		}
		
		
		label, label span {
			color: @main-text-color;
		}
		
		button span {
			color: @main-text-color;
		}
	}
	
	#nav-tray-portal {
		div.tray-with-space-for-global-nav {
				background: lighten(@main-color, @first-layer-brightness);
		}
		
		ul li {
			color: lighten(@main-text-color, @first-layer-brightness);
			
			a {
				color: lighten(@accent-color, @first-layer-brightness);
			}
		}
		
		.navigation-tray-container > div {
			height: 100vh;
		}
	}
	
	/* NOTIFICATION BUBBLES */
	
	.ic-notification {
		border-color: @accent-color;
		margin-top: 10px;
		border-radius: var(--bradius);
	}
	
	.ic-notification__icon {
		background-color: @accent-color;
	}
	
	.notification_account_content, .ic-notification__content {
		background-color: lighten(@main-color, @first-layer-brightness);
		border-color: @accent-color !important;
		border-radius: var(--bradius);
	}
	
	/* DASHBOARD */
	
	.ic-Dashboard-header__layout {
		background: lighten(@main-color, @first-layer-brightness);
		border-width: 0;
		border-radius: var(--bradius) 0;
	}
	
	.ic-Dashboard-header__title {
		padding-left: 20px;
	}
	
	#dashboard-planner-header {
		div {
			background-color: transparent;
			
			button, button span {
				background-color: var(--gen-button-color-important);
				border-color: transparent;
				border-radius: var(--bradius);
				color: lighten(@main-text-color, 20%);
			}
		}
		background-color: transparent;
	}
	
	#DashboardOptionsMenu_Container span {
		border-color: transparent;
		border-radius: var(--bradius);
		color: @accent-color;
	}
	
	.planner-day, .planner-empty-days {
		background-color: @main-color;
		color: darken(@main-text-color, 10); /* TODO: improve */
		
		border-color: transparent;
		h2 {
			font-weight: 700;
			border-color: transparent;
		}
	}
	
	/* Dashboard line items */
	.planner-grouping {
		
		> a span {
			background: lighten(@main-color, @first-layer-brightness);
		}
		
		::after {
			background: none;
		}
		
		ol {
			background-color: lighten(@main-color, @first-layer-brightness);
			border-width: 5px;
			border-top-right-radius: var(--bradius);
			border-bottom-right-radius: var(--bradius);
			
			div ul li span div {
				background: lighten(@main-color, @second-layer-brightness);
				border-width: 2px;
				color: lighten(@main-text-color, @first-layer-brightness);
			}
			
		}
		
		.NotificationBadge-styles__activityIndicator div span {
			background-color: @accent-color;
		}
		
		.planner-item {
			border-color: @main-color; /* TODO: how to make this course color? */
			
			span {
				color: @main-text-color;
				
				[class*="checkbox"] {
					background: darken(white, @first-layer-brightness);
					color: darken(@accent-color, 10);
					
				}
			}
			
			a span, div button span {
				color: @accent-color;
			}
		}
	}
	
	/* Dashboard card mode */
	.ic-DashboardCard {
		background: lighten(@main-color, @first-layer-brightness);
		
		svg {
			fill: @main-text-color;
		}
		
		.ic-DashboardCard__header_content {
			background: transparent;
			
			.ic-DashboardCard__header-subtitle, .ic-DashboardCard__header-term {
				color: @main-text-color;
			}
		}
	}
	
	/* PDF Viewer */
	body > span > span > span {
		overflow: clip !important;
	}
	
	/* PDF viewer scroll fixes */
	#doc_preview iframe {
		min-height: auto !important;
		height: 100% !important;
	}
	#doc_preview > div {
		height: 100% !important;
		border: none;
		overflow: clip !important;
	}
}
@-moz-document regexp("https://q.utoronto.ca/courses.*"), url-prefix("https://q.utoronto.ca/profile"), url-prefix("https://q.utoronto.ca/files") {
	
	/* Courses main page */
	.course-list-table .course-list-table-row:hover {
		background-color: lighten(@main-color, @first-layer-brightness);
	}
	#breadcrumbs, #breadcrumbs > ul > li + li:last-of-type a {
		background-color: @main-color;
		color: @accent-color;
	}
	
	.item-group-container {
		background: none;
	}
	
	.list-view a.active {
		color: @accent-color;
		border: none;
		margin-left: 10px;
	}
	
	.header-bar {
		border-bottom: none;
		
		.header-bar-right div span {
			color: @accent-color;
		}
	}
	
	
	
	.ic-app-nav-toggle-and-crumbs {
		border-color: var(--line-color);
	}
	
	#right-side .ToDoSidebarItem__Icon, #right-side .ToDoSidebarItem__Info li {
		color: @main-text-color;
	}
	#right-side .ToDoSidebarItem__Info > span {
		color: lighten(@accent-color, 20);
	}
	#right-side .ToDoSidebarItem__Info a span {
		color: @accent-color;
	}
	
	/* MODULE/ANNOUCMENT ITEMS (TOPICS) */
	.toolbarView .headerBar {
		background: lighten(@main-color, @first-layer-brightness);
		border: none;
		
	}
	
	.header-bar {
			background: lighten(@main-color, @first-layer-brightness);
			border: none;
			border-radius: 5px;
			padding: 10px 10px 10px 10px;
			
			
			div {
				display: flex;
				justify-content: center;
				gap: 10px;
				width: 100%;
			}
		}
	
	#content {
		border-radius: 5px !important;
	}
	
	#content > div {
		 
		/*background-color: lighten(@main-color, @first-layer-brightness);*/
		color: @main-text-color;
		border-radius: 5px;
		
		&#assignment_show {
			background: @main-color;
		}
		
		.topic .entry-content {
			border: none;
		}
		
		.list-view a.active {
			color: pink;
		}
		
		
		.ig-list {
			background-color: @main-color;
		}
		
		.item-group-condensed .ig-header {
			background-color: lighten(@main-color, @second-layer-brightness);
			border: none;
			border-radius: var(--bradius) var(--bradius) 0 0;
			color: @main-text-color;
			
			h2 button, .name {
				color: @main-text-color;
				text-shadow: none;
			}
		}
		
		.item-group-condensed .ig-row {
			background-color: lighten(@main-color, @first-layer-brightness);
			color: @main-text-color;
			border-color: @main-color;
			border-left: none;
			border-right: none;
		}
		
		.ig-list .ig-row a.ig-title {
			color: @accent-color;
		}
		
		.ic-Table.ic-Table--hover-row :is(tbody, thead) :is(td, th) {
			border-color: lighten(@main-color, @second-layer-brightness);
		}
		
		.ic-Table.ic-Table--hover-row tbody tr:hover {
			background: lighten(@main-color, @first-layer-brightness);
		}
		
		--inset-bg-color: lighten(@main-color, @first-layer-brightness);
		
		.ui-tabs .ui-tabs-nav {
			border-color: @accent-color;
		}
		.ui-tabs .ui-tabs-nav li {
			background-color: var(--inset-bg-color);
			border: 1px solid @accent-color;
			border-radius: var(--bradius) var(--bradius) 0 0;
		}
		
		.ui-tabs .ui-tabs-nav li.ui-tabs-active {
			background: var(--inset-bg-color);
			
			a {
				color: @main-text-color;
			}
		}
		
		.ui-tabs .ui-tabs-panel {
			background: var(--inset-bg-color);
			border-color: @accent-color;
			border-radius: 0 0 var(--bradius) var(--bradius);
			color: @main-text-color;
			
			.Button--link {
				color: @accent-color;
			}
			
			.button-container button {
				background-color: var(--gen-button-color-important);
			}
			
			.button-container button:hover {
				background-color: var(--gen-button-color-important-hov);
				transition: 0.1s;
			}
		}
		
		.module-sequence-footer .module-sequence-footer-content {
			background: none;
			border: none;
			
			.Button {
				background: var(--gen-button-color);
				color: @main-text-color;
				border: none;
			}
			
			.Button:hover {
				background: var(--gen-button-color-hov);
				transition: 0.1s;
			}
		}
		
		
		/* QUIZ STUFF */
		.muted-notice {
			background: lighten(@main-color, @first-layer-brightness);
			color: @main-text-color;
			border-color: @border-color;
			text-shadow: none;
		}
	}
	
	/* QUIZ FILLING */
	.quiz-header .ic-Table td, .ic-Table th {
		border-color: @border-color !important;
	}
	
	.quiz-submission, .question_editing {
		background-color: @main-color;
		border: none;
		
		.quiz_score .score_value {
			color: @accent-color;
		}
		
		.question {
			background-color: lighten(@main-color, @first-layer-brightness);
			border-color: @border-color;
			border-radius: var(--bradius);
			
			.header {
				background-color: lighten(@main-color, @first-layer-brightness) !important;
				border-color: @border-color;
				border-radius: var(--bradius);
				color: saturate(@main-text-color, 30);
			}
			
			.question_points_holder {
				color: @main-text-color;	
			}
		}
	}
	
	
	table.summary td, table.summary tbody th {
		background-color: @main-color !important;
		border-color: @border-color;
		color: @main-text-color;
	}
	
	#assignment_show .student-assignment-overview, 
	#quiz_show .quiz-header,
	#quiz_show ul#quiz_student_details {
		border-color: var(--line-color);
	}
	
	#syllabus tr th, #syllabus td {
		border-color: lighten(lighten(@main-color, @second-layer-brightness), 10);
	}
	#syllabus tr.date.date_passed td, #syllabus tr.date.date_passed th {
		background: lighten(@main-color, @first-layer-brightness);
		border-color: lighten(lighten(@main-color, @second-layer-brightness), 10);
	}
	
	#syllabus tr.date.related td, #syllabus tr.date.related th, #syllabus tr.date.selected td, #syllabus tr.date.selected th {
		background: lighten(@main-color, @second-layer-brightness);
	}
	
	#syllabusTableBody {
		border-radius: 99px;
		border-spacing: 50px;
		
		tr {
			border-spacing: 5px;
			border-radius: var(--bradius);
		}	
	}
}

@-moz-document url-prefix("https://canvadocs-yul-prod.inscloudgate.net/1/sessions") {
	nav.ViewerControls, nav.ViewerControls button {
		background: lighten(@main-color, @first-layer-brightness);
	}
	
	.AnnotationControlButton-outer {
		border: none !important;
	}
	
	.Pages {
		background: @main-color;
	}
	
	.Page-container {
		border: none !important;
	}
}
